<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div class="text-red-500"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :header_image, class: 'block' %>
    <p class="text-xs text-gray-400">
      Must be 628x256, < 50kB
    </p>

    <% if form.object.persisted? && form.object.header_image.attached? %>
      <div id="<%= dom_id(blog_post, :header_image) %>">
        <%= image_tag form.object.header_image, class: 'w-1/2' %>
        <%= link_to "Remove", blog_post_header_image_path(blog_post), data: { turbo_method: :delete, turbo_confirm: "Remove image?" }, class: 'text-red-700' %>
      </div>
    <% else %>
      <p class="italic">No header image yet.</p>
    <% end %>

    <%= form.file_field :header_image, direct_upload: true %>
  </div>

  <div class="form-group">
    <%= form.label :title, class: 'block' %>
    <%= form.text_field :title, class: 'w-full' %>
  </div>

  <div class="form-group red-links">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="form-group">
    <%= form.label :tag_list, 'Tags', class: 'block' %>
    <%= form.text_field :tag_list, class: 'w-full', value: BlogPostDecorator.new(blog_post).display_tag_list %>
  </div>

  <div class="form-group">
    <%= form.label :published_at, class: 'block' %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <div class="flex justify-end mt-4">
    <%= form.button class: 'btn btn-blue' %>
  </div>
<% end %>
