<% if @blog_post.header_image.attached? %>
  <%= image_tag @blog_post.header_image %>
<% end %>

<div class="flex justify-between mt-4">
  <h1><%= @blog_post.title %></h1>
  <%= link_to "Edit Blog Post", edit_blog_post_path %>
</div>

<div class="mb-8">
  <%= render 'shared/tags', blog_post: @blog_post %>
</div>

<%= @blog_post.body %>
