<!DOCTYPE html>
<html>
<head>
  <title>therealrodk</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= render 'application/favicon' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="relative m-0 pb-24 min-h-screen">
  <div class="container m-0">
    <% if notice.present? %>
      <p class="notice bg-blue-200 text-center text-blue-700 py-2"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert bg-red-200 text-center text-red-700 py-2"><%= alert %></p>
    <% end %>

    <%= render 'layouts/header' %>

    <main class="prose mx-auto">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
