<!DOCTYPE html>
<html>
<head>
  <title>therealrodk</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= render 'application/favicon' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
</head>

<body class="relative m-0 min-h-screen">
  <div class="">
    <% if notice.present? %>
      <p class="notice bg-blue-200 text-center text-blue-700 py-2"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert bg-red-200 text-center text-red-700 py-2"><%= alert %></p>
    <% end %>

    <%= render 'layouts/header' %>

    <div class="md:flex md:justify-between">
      <main class="mx-auto">
        <%= yield %>

        <% if @all_tags.present? %>
          <div class="p-2 mt-4">
            <h4>All Tags:</h4>
            <%= render 'shared/tags', tags: @all_tags %>
          </div>
        <% end %>
      </main>
      <%= render 'layouts/sidebar' %>
    </div>

    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
