<!DOCTYPE html>
<html>
<head>
  <title>therealrodk</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= render 'application/favicon' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css" %>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js">
  </script>
</head>

<body class="relative m-0 pb-64 md:pb-24 min-h-screen">
  <div class="m-0">
    <% if notice.present? %>
      <p class="notice bg-blue-200 text-center text-blue-700 py-2"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert bg-red-200 text-center text-red-700 py-2"><%= alert %></p>
    <% end %>

    <%= render 'layouts/header' %>

    <% if user_signed_in? %>
      <%= render 'layouts/admin_menu' %>
    <% end %>

    <main class="mx-auto">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
