<!DOCTYPE html>
<html>
  <head>
    <title>Rails7Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice bg-blue-200 text-center text-blue-700 py-2"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert bg-red-200 text-center text-red-700 py-2"><%= alert %></p>
    <% end %>

    <nav>
      <% if user_signed_in? %>
        <%#= link_to "Profile", edit_user_registration_path %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
      <%# else %>
        <%#= link_to "Log In", new_user_session_path %>
      <% end %>
    </nav>

    <main class="prose mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
